# === Discord Bot Configuration ===
# Main Discord
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
GUILD_ID=YOUR_GUILD_ID_HERE

# Optional: Roles
CWS_PING_ROLE=ROLE_ID_FOR_CREW_WARS_PING
PVP_ROLE=ROLE_ID_FOR_PVP
NEW_RECRUIT_ROLE=ROLE_ID_FOR_NEW_RECRUITS
CREW_MEMBER_ROLE=ROLE_ID_FOR_CREW_MEMBERS
APP_TRANSCRIPT_ID=CHANNEL_ID_FOR_APPLICATION_TRANSCRIPTS

# === Database ===
DATABASE_URL=postgresql+psycopg2://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME
PG_DUMP_URI=postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME

DB_USER=USERNAME
DB_PASSWORD=PASSWORD
DB_HOST=postgres
DB_PORT=5432
DB_NAME=crewbot

# === Tournament (Challonge API) ===
CH_API_KEY=YOUR_CHALLONGE_API_KEY
CH_USERNAME=YOUR_CHALLONGE_USERNAME

# Tournament Channels
REPORTS_CH_ID=DISCORD_CHANNEL_ID_FOR_REPORTS
SIGNUPS_CH_ID=DISCORD_CHANNEL_ID_FOR_SIGNUPS
VIDEO_CH_ID=DISCORD_CHANNEL_ID_FOR_VIDEOS
ANNOUNCEMENTS_CH_ID=DISCORD_CHANNEL_ID_FOR_ANNOUNCEMENT
LOGS_CH_ID=DISCORD_CHANNEL_ID_FOR_LOGS
SCHEDULING_CH_ID=DISCORD_CHANNEL_ID_FOR_SCHEDULES
RULES_CH_ID=DISCORD_CHANNEL_ID_FOR_RULES