WEBHOOK_URL=WEBHOOK_URL_FOR_CWS_REMINDERS
WEBHOOK_WINS=WEBHOOK_URL_FOR_CWS_WINS
REMINDER_ROLE_ID=DISCORD_ROLE_ID_FOR_CWS_REMINDER

DATABASE_URL=postgresql+psycopg2://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME
