export WEBHOOK_URL=WEBHOOK_URL_FOR_CWS_REMINDERS
export WEBHOOK_WINS=WEBHOOK_URL_FOR_CWS_WINS
export REMINDER_ROLE_ID=DISCORD_ROLE_ID_FOR_CWS_REMINDER
export STAFF_ANNOUNCEMENTS_CH_ID=DISCORD_CHANNEL_FOR_STAFF_ANNOUNCEMENTS
export INACTIVE_REPORT_WEBHOOK=DISCORD_WEBHOOK_FOR_REPORTING_INACTIVE_PLAYERS

export DATABASE_URL=postgresql+psycopg2://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME
